.App {
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(129, 119, 119), rgb(163, 160, 163), rgb(129, 119, 119) );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#Inputs {
  border-style: outset;
  padding: 20px;
}

#Inputs2 {
  border-style: outset;
  padding: 20px;
}

#InName {
  border-radius: 5px;
}

#InApe {
  border-radius: 5px;
}

#InN1 {
  border-radius: 5px;
}

#InN2 {
  border-radius: 5px;
}

#BtnAddUsr{
  background-image: linear-gradient(to bottom right, rgb(111, 135, 199), rgb(201, 59, 130) );
  border-radius: 4px;
}
#BtnSumar {
  background-image: linear-gradient(180deg, rgb(129, 235, 97), yellow);
  border-radius: 4px;
}

#BtnRestar {
  background-image: linear-gradient(180deg, rgb(27, 122, 231), rgb(235, 151, 238));
  border-radius: 4px;
}

#BtnMultiplicar {
  background-image: linear-gradient(180deg, rgb(146, 43, 112), rgb(0, 225, 255));
  border-radius: 4px;
}

#BtnDividir {
  background-image: linear-gradient(180deg, rgb(0, 190, 102), rgb(255, 0, 212));
  border-radius: 4px;
}

#textM{
  color: rgb(87, 87, 87);
}

#textN{
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
